.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 35px 30px;
    gap: 30px;
}

.actionBtns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

@media (max-width: 900px) {
    .form {
        width: 80%;
    }
}